.nav {
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  top: 0;
  width: 200px;
  height: 100%;
  padding: 20pt 0;
}

.nav.tabs-bottom {
  top: auto;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 3.5em;
  vertical-align: center;
  padding: 0;
}

.nav a {
  color: #67717D;
}

.nav.tabs-bottom.tabs .tab {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.tabs .tab {
  width: 100%;
  float: left;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 13pt;
}

.tabs .tab:hover {
  cursor: pointer;
}

.tabs .tab .item:after {
transition: all .25s;
}

.tabs .tab .item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 2px;
  border-radius: 2px;
}

.tabs .tab .item:hover:after {
  width: 80%;
}

.tabs .tab .logo {
  width: 80%;
}

@-webkit-keyframes fill {
  0% {
    width: 0%;
    height: 1px;
  }
  50% {
    width: 100%;
    height: 1px;
  }
  100% {
    width: 100%;
    height: 100%;
    background: #333;
  }
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #eee;
    border-radius: 100%;
  }
  100% {
    background: #aaa;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

.tabs {
  left: 0;
}

.nav .tab {
  line-height: 3em;
}

.nav .fas,
.nav .fab,
.nav .far {
  font-size: 1.7em;
  cursor: pointer;
}

.show-large,
.show-small{
  display: none;
}

@media (max-width: 991px) {
  .show-large {
    display: none;
  }

  .show-small {
    display: block;
  }
}

@media (min-width: 992px) {

  .show-large {
    display: block;
  }

  .show-small {
    display: none !important;
  }
}
